body{
    margin: auto;
    padding: 40px ;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    font-size: medium;
    color: black;
    padding: 10px;
}
audio{
    padding-inline:10px
}
